@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  background-color: #f5f5f5;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  /* box-shadow: 3px 3px 3px 3px #1050a3; */
}

.faq.active {
  background-color: #fff;
}

.faq-text {
  user-select: none;
  height: 0;
  margin: 0;
  padding: 0;
  color: transparent;
  transition: all 0.5s ease-in-out;
}

.faq-text.active-txt {
  margin: 40px 0 0;
  height: 50px;
  color: #000;
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 25px;
  width: 25px;
}

.faq .faq-toggle:hover {
  color: #fff;
  background-color: #22d655;
}

.faq.active .faq-toggle:hover {
  background-color: grey;
}

.faq-toggle .fa-chevron-up {
  margin-bottom: 2.5px;
  margin-left: 1px;
  display: none;
}

.faq.active .faq-toggle .fa-chevron-up {
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}
