.flash-sale-item-card-link {
  text-decoration:none;
  color:rgba(0,0,0,.8);
  display:block;
  height:100%;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
}

.flash-sale-item-card-placeholder__image {
  width:100%;
  padding-top:100%;
}

.shopee-item-card__badge-wrapper.shopee-item-card__badge-wrapper {
  -webkit-transform:scale(1.4);
  transform:scale(1.4);
  padding:7px 8px;
  font-weight:400;
  position:absolute;
  top:0;
  right:0;
}

.flash-sale-item-card {
  box-shadow:0 1px 1px 0 rgba(0,0,0,.05);
  border-radius:.125rem;
  overflow:hidden;
  background-color:#fff;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  position:relative;
  margin-bottom:10px;
  border: 1px solid transparent;
}

.flash-sale-item-card--home-page {
  margin-bottom:0;
}

.flash-sale-item-card--landing-page {
  width:24.25%;
}

.flash-sale-item-card--landing-page:not(:nth-child(4n)) {
  margin-right:1%;
}

.flash-sale-item-card--landing-page:hover {
  box-shadow:0 .0625rem 20px 0 rgba(0,0,0,.05);
  -webkit-transform:translateY(-.0625rem);
  transform:translateY(-.0625rem);
  z-index:1;
  border:1px solid red
}

.flash-sale-item-card--landing-page .shopee-item-card__cover-img-background {
  width:100%;
  padding-top:100%;
}

.flash-sale-item-card--landing-page .shopee-item-card__badge-wrapper {
  -webkit-transform:scale(1.4);
  transform:scale(1.4);
  padding:7px 8px;
  font-weight:400;
  position:absolute;
  top:0;
  right:0;
}

.flash-sale-item-card__image {
  margin:5px auto;
  position:relative;
}

.flash-sale-item-card__image--home-page {
  width:173px;
  height:173px;
}

.flash-sale-item-card__image--landing-page {
  width:280px;
  height:280px;
}

.flash-sale-item-card__animated-image {
  width:100%;
  padding-top:100%;
}

.flash-sale-item-card__item-name {
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  font-size:16px;
  margin:10px 15px auto;
  height:2.4em;
  line-height:1.2em;
  overflow:hidden;
  text-overflow:ellipsis;
  border-bottom:10px solid transparent;
}

.flash-sale-item-card__original-price {
  padding:0 15px;
  color:rgba(0,0,0,.13);
  text-decoration:line-through;
}

.flash-sale-item-card__current-price {
  color:#ee4d2d;
  font-weight:400;
}

.flash-sale-item-card__current-price--home-page {
  font-size:14px;
  text-align:center;
}

.flash-sale-item-card__current-price--landing-page {
  font-size:18px;
}

.flash-sale-item-card__current-price>.item-price-dollar-sign {
  font-size:100%;
}

.flash-sale-item-card__current-price>.item-price-number {
  font-size:155%;
  max-width:130px;
  overflow:hidden;
  text-overflow:ellipsis;
}

.flash-sale-item-card__lower-wrapper {
  padding:0 15px 15px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:end;
  -webkit-align-items:flex-end;
  -moz-box-align:end;
  -ms-flex-align:end;
  align-items:flex-end;
}

.flash-sale-item-card__lower-left {
  -webkit-box-flex:1;
  -webkit-flex:1 100%;
  -moz-box-flex:1;
  -ms-flex:1 100%;
  flex:1 100%;
  text-overflow:ellipsis;
  overflow:hidden;
}

.flash-sale-item-card__buy-now-button {
  color:rgba(0,0,0,.8);
  display:block;
  background-color:#ee4d2d;
  color:#fff;
  line-height:41px;
  border:none;
  border-radius:4px;
}

.flash-sale-item-card__buy-now-button,
.flash-sale-item-card__view-details-button {
  text-decoration:none;
  font-size:18px;
  font-weight:200;
  width:88px;
  height:41px;
  text-align:center;
  outline:none;
  cursor:pointer;
  -webkit-flex-shrink:0;
  -ms-flex-negative:0;
  flex-shrink:0;
  margin-left:10px;
}

.flash-sale-item-card__view-details-button {
  color:rgba(0,0,0,.8);
  display:block;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  background-color:#fff;
  color:#ee4d2d;
  border:1px solid #ee4d2d;
  border-radius:4px;
  text-transform:capitalize;
}

.flash-sale-item-card--sold-out {
  background-color:#fff;
  background-repeat:no-repeat;
  background-image:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/3979da2895ac5cc71c1d77228a352f1d.png);
  background-size:103px;
  background-position-x:175px;
  background-position-y:338px;
}

.flash-sale-item-card--sold-out.flash-sale-item-card--landing-page {
  cursor:default;
}

.flash-sale-item-card--sold-out.flash-sale-item-card--TH {
  background-image:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/dc044ac37555c363990a5066d2df1307.png);
}

.flash-sale-item-card--sold-out.flash-sale-item-card--TW {
  background-image:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/425938916c499c2c6b63395db0774f48.png);
}

.flash-sale-item-card--sold-out.flash-sale-item-card--ID {
  background-image:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/780368ea604d724abf2d89488a984dc3.png);
}

.flash-sale-item-card--sold-out.flash-sale-item-card--VN {
  background-image:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/6cce7c5ca761384825d84ae1de837514.png);
}

.flash-sale-progress-bar {
  height:16px;
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/934cc0df9edb42d22c38044417c8a94a.png) 0 100% no-repeat;
  background-size:cover;
  position:relative;
  border-radius:8px;
}

.flash-sale-progress-bar__wrapper--home-page {
  padding:0 7px;
}

.flash-sale-progress-bar__wrapper--landing-page {
  padding-right:10px;
}

.flash-sale-progress-bar__fire {
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/d224da21491f6660be6e020e12aff419.png) 0 no-repeat;
  width:18px;
  height:21px;
  background-size:contain;
  position:absolute;
  left:3px;
  top:-6px;
}

.flash-sale-progress-bar__text {
  text-transform:uppercase;
  font-size:12px;
  color:#fff;
  z-index:2;
  position:absolute;
  bottom:0;
  width:100%;
  text-align:center;
}

.flash-sale-progress-bar__complement-wrapper {
  width:100%;
  background:transparent;
  overflow:hidden;
  bottom:0;
  right:0;
  position:absolute;
  z-index:1;
  height:16px;
  border-radius:8px;
}

.flash-sale-progress-bar__complement-sizer {
  background:#fff;
  float:right;
  position:relative;
  height:18px;
}

.flash-sale-progress-bar__complement-color {
  position:absolute;
  width:100%;
  height:100%;
  background:#ffbda6;
}

.flash-sale-sold-out {
  color:rgba(0,0,0,.54);
  text-transform:capitalize;
}

.flash-sale-sold-out--home-page {
  height:20px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:end;
  -webkit-align-items:flex-end;
  -moz-box-align:end;
  -ms-flex-align:end;
  align-items:flex-end;
}

@-webkit-keyframes second-ten {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  15% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  16.66% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  31.66% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  33.33% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  48.33% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  50% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  65% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  66.66% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  81.66% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  83.33% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  98.33% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  to {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
}

@keyframes second-ten {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  15% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  16.66% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  31.66% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  33.33% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  48.33% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  50% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  65% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  66.66% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  81.66% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  83.33% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  98.33% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  to {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
}

@-webkit-keyframes second-digit {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

@keyframes second-digit {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

@-webkit-keyframes minute-ten {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  16.638888% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  16.666666% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  33.305555% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  33.333333% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  49.972222% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  50% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  66.638888% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  66.666666% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  83.305555% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  83.333333% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  99.972222% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  to {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
}

@keyframes minute-ten {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  16.638888% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  16.666666% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  33.305555% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  33.333333% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  49.972222% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  50% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  66.638888% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  66.666666% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  83.305555% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  83.333333% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  99.972222% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  to {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
}

@-webkit-keyframes minute-digit {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  9.833% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  19.833% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  29.833% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  39.833% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  49.833% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  59.833% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  69.833% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  79.833% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  89.833% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  99.833% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

@keyframes minute-digit {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  9.833% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  19.833% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  29.833% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  39.833% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  49.833% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  59.833% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  69.833% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  79.833% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  89.833% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  99.833% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

@-webkit-keyframes hour-hundred {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  9.999972222% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  19.999972222% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  29.999972222% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  39.999972222% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  49.999972222% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  59.999972222% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  69.999972222% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  79.999972222% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  89.999972222% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  99.999972222% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

@keyframes hour-hundred {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  9.999972222% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  19.999972222% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  29.999972222% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  39.999972222% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  49.999972222% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  59.999972222% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  69.999972222% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  79.999972222% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  89.999972222% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  99.999972222% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

@-webkit-keyframes hour-ten {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  9.99972222% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  19.99972222% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  29.99972222% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  39.99972222% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  49.99972222% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  59.99972222% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  69.99972222% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  79.99972222% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  89.99972222% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  99.99972222% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

@keyframes hour-ten {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  9.99972222% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  19.99972222% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  29.99972222% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  39.99972222% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  49.99972222% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  59.99972222% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  69.99972222% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  79.99972222% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  89.99972222% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  99.99972222% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

@-webkit-keyframes hour-digit {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  9.9972222% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  19.9972222% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  29.9972222% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  39.9972222% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  49.9972222% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  59.9972222% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  69.9972222% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  79.9972222% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  89.9972222% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  99.9972222% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

@keyframes hour-digit {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  9.9972222% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  10% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  19.9972222% {
    -webkit-transform:translateY(-17px);
    transform:translateY(-17px);
  }
  20% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  29.9972222% {
    -webkit-transform:translateY(-34px);
    transform:translateY(-34px);
  }
  30% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  39.9972222% {
    -webkit-transform:translateY(-51px);
    transform:translateY(-51px);
  }
  40% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  49.9972222% {
    -webkit-transform:translateY(-68px);
    transform:translateY(-68px);
  }
  50% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  59.9972222% {
    -webkit-transform:translateY(-85px);
    transform:translateY(-85px);
  }
  60% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  69.9972222% {
    -webkit-transform:translateY(-102px);
    transform:translateY(-102px);
  }
  70% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  79.9972222% {
    -webkit-transform:translateY(-119px);
    transform:translateY(-119px);
  }
  80% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  89.9972222% {
    -webkit-transform:translateY(-136px);
    transform:translateY(-136px);
  }
  90% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  99.9972222% {
    -webkit-transform:translateY(-153px);
    transform:translateY(-153px);
  }
  to {
    -webkit-transform:translateY(-170px);
    transform:translateY(-170px);
  }
}

.shopee-countdown-timer {
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  cursor:default;
  color:#000;
}

.shopee-countdown-timer,
.shopee-countdown-timer__colon {
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
}

.shopee-countdown-timer__colon {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  background-position-y:3px;
  text-align:center;
  width:3px;
  margin-top:2px;
  height:17px;
  font-weight:400;
  font-size:20px;
  margin:0 2px;
}

.shopee-countdown-timer__colon--flashing-off {
  opacity:0;
}

.shopee-countdown-timer__number {
  background:currentColor;
  border-radius:2px;
  height:17px;
  margin-bottom:4px;
  padding:1px 3px;
  line-height:20px;
  font-size:19px;
  overflow:hidden;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-justify-content:space-around;
  -ms-flex-pack:distribute;
  justify-content:space-around;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  min-width:20px;
  text-align:center;
}

.shopee-countdown-timer__number__deca,
.shopee-countdown-timer__number__hexa {
  display:inline-block;
  width:9px;
  height:187px;
  overflow:hidden;
}

.shopee-countdown-timer__number__deca--second {
  -webkit-animation-name:second-digit;
  animation-name:second-digit;
  -webkit-animation-duration:10s;
  animation-duration:10s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}

.shopee-countdown-timer__number__hexa--second {
  -webkit-animation-name:second-ten;
  animation-name:second-ten;
  -webkit-animation-duration:60s;
  animation-duration:60s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}

.shopee-countdown-timer__number__deca--minute {
  -webkit-animation-name:minute-digit;
  animation-name:minute-digit;
  -webkit-animation-duration:600s;
  animation-duration:600s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}

.shopee-countdown-timer__number__hexa--minute {
  -webkit-animation-name:minute-ten;
  animation-name:minute-ten;
  -webkit-animation-duration:3600s;
  animation-duration:3600s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}

.shopee-countdown-timer__number__deca--hour {
  -webkit-animation-name:hour-digit;
  animation-name:hour-digit;
  -webkit-animation-duration:36000s;
  animation-duration:36000s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}

.shopee-countdown-timer__number__hexa--hour {
  -webkit-animation-name:hour-ten;
  animation-name:hour-ten;
  -webkit-animation-duration:360000s;
  animation-duration:360000s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}

.shopee-countdown-timer__number__hund--hour {
  -webkit-animation-name:hour-hundred;
  animation-name:hour-hundred;
  -webkit-animation-duration:3600000s;
  animation-duration:3600000s;
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}

.shopee-countdown-timer__number__item {
  position:relative;
  width:9px;
  height:17px;
}

.shopee-countdown-timer__number__item svg {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  width:17px;
  height:13px;
  fill:#fff;
  stroke:#fff;
  overflow:visible;
}

.colon-dot {
  position:absolute;
  border-radius:100%;
  width:3px;
  height:3px;
  top:10%;
  left:0;
  background:currentColor;
}

.colon-dot__wrapper {
  width:100%;
  height:50%;
  position:relative;
}

.flash-sale-header-with-countdown-timer {
  margin:0 auto;
  pointer-events:none;
}

.flash-sale-header-with-countdown-timer--landing-page {
  padding:15px 0;
  top:0;
  z-index:3;
  opacity:.95;
  background:#fff;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  box-shadow:0 1px 1px rgba(0,0,0,.05);
}

.flash-sale-header-with-countdown-timer--product-page {
  border-bottom:1px solid rgba(0,0,0,.09);
  padding-bottom:7px;
  margin-bottom:15px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  cursor:pointer;
}

.flash-sale-header-with-countdown-timer__wrapper {
  height:30px;
  line-height:1.875rem;
  margin:0 auto;
  position:relative;
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-moz-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  pointer-events:all;
}

.flash-sale-header-with-countdown-timer__wrapper--with-horizontal-line-decorators {
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}

.flash-sale-header-with-countdown-timer__wrapper--with-horizontal-line-decorators:after,
.flash-sale-header-with-countdown-timer__wrapper--with-horizontal-line-decorators:before {
  content:"";
  position:absolute;
  border-bottom:1px solid rgba(0,0,0,.6);
  top:40%;
  width:20px;
}

.flash-sale-header-with-countdown-timer__wrapper--with-horizontal-line-decorators:before {
  right:100%;
  margin-right:14px;
}

.flash-sale-header-with-countdown-timer__wrapper--with-horizontal-line-decorators:after {
  left:100%;
  margin-left:14px;
}

.flash-sale-header-with-countdown-timer__header {
  padding-left:16px;
  width:114px;
  height:30px;
  line-height:30px;
  text-transform:uppercase;
  display:inline-block;
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/1005f537d149230463364c8bfdc74c2f.png) 50% no-repeat;
  background-size:contain;
}

.flash-sale-header-with-countdown-timer__header--sg {
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/8bdff46ffdf0c44754581867dd8b0426.png) 50% no-repeat;
  background-size:contain;
  width:114px;
}

.flash-sale-header-with-countdown-timer__header--ph {
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/8bdff46ffdf0c44754581867dd8b0426.png) 50% no-repeat;
  background-size:contain;
}

.flash-sale-header-with-countdown-timer__header--my {
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/84da41864b902b298297de09af08d6c2.png) 50% no-repeat;
  background-size:contain;
  background-position-y:4px;
  width:139px;
  margin-right:12px;
}

.flash-sale-header-with-countdown-timer__header--tw {
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/8c0210d2f638c32a4cbf6172a553781e.png) 0 no-repeat;
  background-size:contain;
  width:80px;
}

.flash-sale-header-with-countdown-timer__header--flash {
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/292dacefda7077ac81964b2d0fd541ab.png) 0 no-repeat;
  width:auto;
  background-size:16px;
}

.flash-sale-header-with-countdown-timer__header--clock {
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/63bfa449fa3eeffe4d7dcf953ad894da.png) 0 no-repeat;
  width:auto;
  background-size:16px;
  padding-left:20px;
}

.flash-sale-header-with-countdown-timer__countdown-timer {
  height:30px;
  font-weight:400;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
  -moz-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  -webkit-transform:scale(.84);
  transform:scale(.84);
  margin-top:3px;
}

.flash-sale-header-with-countdown-timer .flash-sale-ends-in {
  white-space:nowrap;
  margin:0 .625rem;
  height:30px;
  line-height:30px;
  text-transform:uppercase;
}

.flash-sale-header-with-countdown-timer .flash-sale-ends-in--clock {
  background:url(https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-sg/assets/63bfa449fa3eeffe4d7dcf953ad894da.png) 0 no-repeat;
  width:auto;
  background-size:16px;
  padding-left:20px;
}

.flash-sale-banner--without-link {
  padding-top:230px;
}

.flash-sale-banner__link {
  text-decoration:none;
  color:rgba(0,0,0,.8);
  display:block;
  background-size:100%;
  background-repeat:no-repeat;
  padding-top:230px;
}

.carousel-arrow {
  box-shadow:0 1px 12px 0 rgba(0,0,0,.12);
  cursor:pointer;
  position:absolute;
  top:50%;
  width:50px;
  height:50px;
  line-height:50px;
  font-size:20px;
  border-radius:50%;
  background-color:#fff;
  margin-top:-25px;
  -webkit-transition:all .1s cubic-bezier(.4,0,.6,1);
  transition:all .1s cubic-bezier(.4,0,.6,1);
  opacity:0;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  outline:0;
}

.carousel-arrow>.shopee-svg-icon {
  -webkit-transition:width .1s cubic-bezier(.4,0,.6,1);
  transition:width .1s cubic-bezier(.4,0,.6,1);
  color:rgba(0,0,0,.54);
  fill:rgba(0,0,0,.54);
}

.carousel-arrow--prev {
  left:0;
}

.carousel-arrow--next {
  right:0;
}

.carousel-arrow--hint {
  width:25px;
  height:25px;
  line-height:25px;
  margin-top:-12.5px;
  background-color:#fff;
}

.carousel-arrow--hint>.shopee-svg-icon {
  height:.625rem;
  width:.625rem;
  color:rgba(0,0,0,.54);
  fill:currentColor;
}

.image-carousel {
  width:100%;
  position:relative;
}

.image-carousel__item-list-wrapper {
  overflow-x:hidden;
}

.image-carousel__item-list {
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  position:relative;
  padding:0;
  margin:0;
}

.image-carousel__item {
  -webkit-align-self:center;
  -ms-flex-item-align:center;
  -ms-grid-row-align:center;
  align-self:center;
  overflow-x:hidden;
  list-style:none;
  float:left;
}

.image-carousel__item--fluid {
  -webkit-box-flex:0;
  -webkit-flex:0 1 auto;
  -moz-box-flex:0;
  -ms-flex:0 1 auto;
  flex:0 1 auto;
  overflow-x:visible;
}

.image-carousel__item a,
.image-carousel__item img {
  -webkit-user-drag:none;
}

.image-carousel__dots {
  position:absolute;
  bottom:1.25rem;
  left:50%;
  -webkit-transform:translate(-50%);
  transform:translate(-50%);
  -webkit-transition:opacity .1s cubic-bezier(.4,0,.2,1);
  transition:opacity .1s cubic-bezier(.4,0,.2,1);
}

.image-carousel__dots--hidden {
  opacity:0;
  pointer-events:none;
}

.image-carousel__dot {
  width:.625rem;
  height:.625rem;
  border-radius:50%;
  display:inline-block;
  background-color:rgba(0,0,0,.26);
  cursor:pointer;
}

.image-carousel__dot:not(:first-child) {
  margin-left:.3125rem;
}

.image-carousel__dot--active {
  opacity:1;
  background-color:#ee4d2d;
}

.image-carousel__arrow {
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  position:absolute;
  width:2.1875rem;
  height:3.75rem;
  line-height:3.75rem;
  font-size:1.25rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  color:#fff;
  fill:#fff;
  background-color:rgba(0,0,0,.18);
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  -webkit-transition:background-color .1s cubic-bezier(.4,0,.6,1),opacity .1s cubic-bezier(.4,0,.6,1);
  transition:background-color .1s cubic-bezier(.4,0,.6,1),opacity .1s cubic-bezier(.4,0,.6,1);
}

.image-carousel__arrow:hover {
  background-color:rgba(0,0,0,.32);
}

.image-carousel__arrow--prev {
  left:0;
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
}

.image-carousel__arrow--next {
  right:0;
  border-top-left-radius:2px;
  border-bottom-left-radius:2px;
}

.flash-sale-session-picker {
  background-color:#414142;
  margin-bottom:.75rem;
  overflow:hidden;
}

.flash-sale-session-picker .image-carousel {
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
}

.flash-sale-session-picker .image-carousel__item {
  height:100%;
  overflow:visible;
}

.flash-sale-session-picker .image-carousel__item-list {
  height:100%;
}

.flash-sale-session-picker .image-carousel__item-list-wrapper {
  -webkit-box-ordinal-group:2;
  -webkit-order:1;
  -moz-box-ordinal-group:2;
  -ms-flex-order:1;
  order:1;
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -moz-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  cursor:pointer;
  overflow:visible;
}

.flash-sale-session-picker .carousel-arrow {
  position:relative;
  background:#414142;
  box-shadow:none;
  outline:none;
  margin-top:0;
  -webkit-transform:none !important;
  transform:none !important;
  width:auto;
  color:#c3c3c3;
  border-radius:0;
  height:4rem;
  line-height:4rem;
}

.flash-sale-session-picker .carousel-arrow .shopee-svg-icon {
  fill:currentColor;
  color:currentColor;
}

.flash-sale-session-picker .carousel-arrow--hidden {
  display:none;
}

.flash-sale-session-picker .carousel-arrow--prev {
  -webkit-box-ordinal-group:1;
  -webkit-order:0;
  -moz-box-ordinal-group:1;
  -ms-flex-order:0;
  order:0;
}

.flash-sale-session-picker .carousel-arrow--next {
  -webkit-box-ordinal-group:3;
  -webkit-order:2;
  -moz-box-ordinal-group:3;
  -ms-flex-order:2;
  order:2;
}

.docked-session-picker__wrapper {
  background-color:#414142;
}

.flash-sale-session {
  text-decoration:none;
  color:rgba(0,0,0,.8);
  display:block;
  background:#414142;
  color:#c3c3c3;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  height:4rem;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  position:relative;
  text-align:center;
}

.flash-sale-session__display-hour {
  font-size:1.5rem;
}

.flash-sale-session__display-text {
  text-transform:capitalize;
}

.flash-sale-session--selected {
  background:#ee4d2d;
  color:#fff;
}

.selected-session-arrow-down {
  width:0;
  height:0;
  border-left:.4375rem solid transparent;
  border-right:.4375rem solid transparent;
  border-top:.4375rem solid #ee4d2d;
  position:absolute;
  top:100%;
  left:-webkit-calc(50% - .4375rem);
  left:calc(50% - .4375rem);
}

.flash-sale-session-picker {
  background-color:#414142;
  margin-bottom:.75rem;
  overflow:hidden;
}

.flash-sale-session-picker .image-carousel {
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
}

.flash-sale-session-picker .image-carousel__item {
  height:100%;
  overflow:visible;
}

.flash-sale-session-picker .image-carousel__item-list {
  height:100%;
}

.flash-sale-session-picker .image-carousel__item-list-wrapper {
  -webkit-box-ordinal-group:2;
  -webkit-order:1;
  -moz-box-ordinal-group:2;
  -ms-flex-order:1;
  order:1;
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -moz-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  cursor:pointer;
  overflow:visible;
}

.flash-sale-session-picker .carousel-arrow {
  position:relative;
  background:#414142;
  box-shadow:none;
  outline:none;
  margin-top:0;
  -webkit-transform:none !important;
  transform:none !important;
  width:auto;
  color:#c3c3c3;
  border-radius:0;
  height:4rem;
  line-height:4rem;
}

.flash-sale-session-picker .carousel-arrow .shopee-svg-icon {
  fill:currentColor;
  color:currentColor;
}

.flash-sale-session-picker .carousel-arrow--hidden {
  display:none;
}

.flash-sale-session-picker .carousel-arrow--prev {
  -webkit-box-ordinal-group:1;
  -webkit-order:0;
  -moz-box-ordinal-group:1;
  -ms-flex-order:0;
  order:0;
}

.flash-sale-session-picker .carousel-arrow--next {
  -webkit-box-ordinal-group:3;
  -webkit-order:2;
  -moz-box-ordinal-group:3;
  -ms-flex-order:2;
  order:2;
}

.docked-session-picker__wrapper {
  background-color:#414142;
}

.product-not-exist {
  width:100%;
  height:37.5rem;
  position:relative;
  text-align:center;
}

.product-not-exist__content {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.product-not-exist__text {
  margin-top:1.25rem;
  cursor:default;
}

.CWH54S {
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  width:100%;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  margin:7rem 0;
}

._3aopy9 {
  margin-bottom:1.5rem;
}

.navbar-with-more-menu__item {
  text-decoration:none;
  color:rgba(0,0,0,.8);
  display:block;
  -webkit-box-flex:1;
  -webkit-flex:1;
  -moz-box-flex:1;
  -ms-flex:1;
  flex:1;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  border-bottom:4px solid #fff;
  font-size:.9375rem;
  text-overflow:ellipsis;
  overflow:hidden;
}

.navbar-with-more-menu__item--active,
.navbar-with-more-menu__item:hover {
  cursor:pointer;
  color:#ee4d2d;
}

.navbar-with-more-menu__item--active {
  border-color:#ee4d2d;
  -webkit-transition:border-color .2s cubic-bezier(.4,0,.6,1);
  transition:border-color .2s cubic-bezier(.4,0,.6,1);
}

.navbar-with-more-menu__item--no-overflow {
  white-space:nowrap;
  text-overflow:unset;
  text-align:left;
}

.navbar-with-more-menu__item span {
  padding:14px 10px;
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -moz-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  text-align:center;
}

.theme--ofs .more-menu__item:hover {
  color:#d0011b;
}

.more-menu {
  position:absolute;
  right:0;
  top:50px;
  overflow:visible;
  z-index:2;
}

.more-menu__arrow-container {
  box-shadow:0 1px 1px 0 rgba(0,0,0,.05);
  border-radius:.125rem;
  overflow:hidden;
  border:1px solid rgba(0,0,0,.09);
  border-radius:3px;
  margin-top:14px;
  position:relative;
  overflow:visible;
}

.more-menu__arrow-container:after,
.more-menu__arrow-container:before {
  position:absolute;
  bottom:100%;
  right:1.5rem;
  border:solid transparent;
  content:" ";
  height:0;
  width:0;
  pointer-events:none;
}

.more-menu__arrow-container:after {
  border-bottom-color:currentColor;
  border-width:10px;
  margin-right:-10px;
}

.more-menu__arrow-container:before {
  bottom:-webkit-calc(100% + 1px);
  bottom:calc(100% + 1px);
  border-bottom-color:rgba(0,0,0,.09);
  border-width:10.4142px;
  margin-right:-10.4142px;
}

.more-menu__content {
  background:#fff;
  padding:0 1.375rem 1.5625rem;
  border-radius:3px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  position:relative;
}

.more-menu__col {
  -webkit-box-flex:1;
  -webkit-flex:1;
  -moz-box-flex:1;
  -ms-flex:1;
  flex:1;
  width:170px;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -moz-box-orient:vertical;
  -moz-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
}

.more-menu--no-overflow .more-menu__col {
  width:auto;
  min-width:170px;
}

.navbar-with-more-menu {
  min-height:50px;
}

.navbar-with-more-menu--narrow {
  min-height:40px;
}

.navbar-with-more-menu__wrapper {
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  box-shadow:0 1px 1px 0 rgba(0,0,0,.05);
}

.navbar-with-more-menu__wrapper--no-shadow {
  box-shadow:none;
}

.navbar-with-more-menu__items {
  -webkit-justify-content:space-around;
  -ms-flex-pack:distribute;
  justify-content:space-around;
  width:100%;
}

.navbar-with-more-menu__items,
.navbar-with-more-menu__more {
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
}

.navbar-with-more-menu__more {
  padding-left:20px;
  position:relative;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.navbar-with-more-menu__more:before {
  content:"";
  height:20px;
  border-left:1px solid rgba(0,0,0,.09);
  position:absolute;
  top:50%;
  left:0;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
}

.navbar-with-more-menu__more>.icon-down-arrow-filled {
  width:.6em;
  height:.6em;
  margin-left:4px;
}

.navbar-with-more-menu__more:hover {
  color:#000;
  color:initial;
  border-bottom-color:transparent;
}

.navbar-with-more-menu__more--show>.icon-down-arrow-filled {
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}

.navbar-with-more-menu__separator {
  margin:25px 0;
  width:1px;
  background:rgba(0,0,0,.09);
}

.theme--ofs .navbar-with-more-menu__item--active,
.theme--ofs .navbar-with-more-menu__item:hover {
  color:#d0011b;
}

.theme--ofs .navbar-with-more-menu__item--active {
  border-color:#d0011b;
}

.spinner-container {
  width:100%;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  padding:1.875rem 0;
}

.spinner-container .stardust-spinner__main {
  background:transparent;
}

.shopee-docked {
  position:fixed;
  top:0;
  z-index:1000;
  width:100%;
  -webkit-transform:translate(-100%);
  transform:translate(-100%);
  -webkit-animation:slide-out .2s;
  animation:slide-out .2s;
}

.shopee-docked--active {
  animation:slide-in .3s forwards cubic-bezier(.4,0,.2,1);
  -webkit-animation:slide-in .3s forwards cubic-bezier(.4,0,.2,1);
}

.shopee-docked--inactive {
  animation:slide-out .3s forwards cubic-bezier(.4,0,.2,1);
  -webkit-animation:slide-out .3s forwards cubic-bezier(.4,0,.2,1);
}

@keyframes slide-in {
  0% {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  to {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }
  to {
    -webkit-transform:translateY(0);
  }
}

@keyframes slide-out {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  to {
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0);
  }
  to {
    -webkit-transform:translateY(-100%);
  }
}

.page-flash-sale {
  position:relative;
  min-width:1200px;
}

.page-flash-sale__banner-wrapper {
  padding-top:15px;
  background:#fff;
}

.page-flash-sale .flash-sale-banner-clickable-area {
  display:block;
  height:12.5rem;
  position:absolute;
  top:0;
  left:0;
  right:0;
  margin:0 -webkit-calc(50% - 37.5rem);
  margin:0 calc(50% - 37.5rem);
}

.flash-sale-items {
  width:1200px;
  margin:20px auto;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
}

.shopee-docked .navbar-with-more-menu {
  background:#fff;
}

/*# sourceMappingURL=https://shopee.sg/assets/71.67f41feef0a00eb8a544.css.map*/
